<div class="table">
    <div class="header">
        <div class="row">
            <div class="cell">Sound File</div>
            <div class="cell" [style.padding-right.px]="headerPadding">Hotkey</div>
        </div>
    </div>
    <!-- <div class="body" [style.scrollbar-gutter]="getScrollbarGutter()"> -->
    <div #body class="body">
        @for (hotkey of this.soundHotkeysService.soundHotkeys(); track hotkey.id) {
        <div class="row" (dblclick)="editHotkey(hotkey.id)" (contextmenu)="openContextMenu($event, hotkey.id)">
            <div class="cell">{{ fileFromPath(hotkey.path) }}</div>
            <div class="cell">{{ this.keycodeService.rawcodesToString(hotkey?.hotkey) }}</div>
        </div>
        }
    </div>
</div>
<menu-list (notClicked)="closeContextMenu()" [leftPos]="contextMenuX" [topPos]="contextMenuY"
    [isActive]="contextMenuActive" [menuItems]="contextMenuItems"></menu-list>