<div>
    <table>
        <thead id="soundtablehead">
            <tr>
                <th>Sound File</th>
                <th>Hotkey</th>
            </tr>
        </thead>
        <tbody id="soundtablebody">
            <!-- @for (hotkey of soundHotkeys; track $index) {
                <tr (dblclick)="editHotkey(hotkey.Hotkey)" (contextmenu)="openContextMenu($event, hotkey.Hotkey)">
                    <td>{{ fileFromPath(hotkey.Path) }}</td>
                    <td>{{ hotkeyToString(hotkey.Hotkey) }}</td>
                </tr>
            } -->
            @for (hotkey of this.soundHotkeysService.soundHotkeys(); track hotkey.ID) {
            <tr (dblclick)="editHotkey(hotkey.ID)" (contextmenu)="openContextMenu($event, hotkey.ID)">
                <td>{{ fileFromPath(hotkey.Path) }}</td>
                <td>{{ this.keycodeService.rawcodesToString(hotkey?.Hotkey) }}</td>
            </tr>
            }
        </tbody>
    </table>
    <!-- <EditButtons theme={theme}>
        <Button theme={theme} onClick={this.addNewSound}>Add Sound(s)</Button>
        <Button theme={theme} onClick={() => { this.setState({ settingStopHotkey: true }); }}>Set Stop Hotkey</Button>
    </EditButtons> -->
</div>
<menu-list (notClicked)="closeContextMenu()" [leftPos]="contextMenuX" [topPos]="contextMenuY"
    [isActive]="contextMenuActive" [menuItems]="contextMenuItems"></menu-list>


<!-- {
                    this.state.editSound !== null ? <SetHotkeyModal
                        onSuccess={this.setHotkey}
                        onCancel={() => { this.setState({ editSound: null }); }}
                        onClear={this.clearHotkey}
                        currentHotkey={this.state.sounds[this.state.editSound].hotkey}
                    /> : null
                }
                {
                    this.state.settingStopHotkey ? <SetHotkeyModal
                        onSuccess={this.setStopHotkey}
                        onCancel={() => { this.setState({ settingStopHotkey: false }); }}
                        currentHotkey={this.state.stopHotkey}
                    /> : null
                }
                {
                    this.state.contextMenuActive ? <MenuList
                        elements={this.state.contextMenuElements}
                        left={this.state.contextMenuX}
                        top={this.state.contextMenuY}
                        innerRef={this.node}
                    /> : null
                } -->