<div class="title-bar">
    <div>
        <i class="app-icon"></i>
    </div>
    <div class="menu-bar">
        @for (group of menuGroups; track $index) {
        <menu-group (mouseenter)="onMouseEnter($index)" (click)="toggleMenu()" (notClicked)="deactivteMenu()"
            [title]="group.title" [menuList]="group.menuList" [isActive]="isGroupActive($index)"></menu-group>
        }
    </div>
    <div class="window-title">
        <!-- TODO: get title from application file somewhere, not hardcoded -->
        Soundboard
    </div>
    <div class="window-controls">
        <div class="window-control-button" (click)="minimize()">
            <div class="minimize"></div>
        </div>
        <div class="window-control-button" (click)="this.windowService.toggleMaximize()">
            @if (!this.windowService.isMaximized()) {
            <div class="maximize"></div>
            } @else {
            <div class="unmaximize1"></div>
            <div class="unmaximize2"></div>
            }
        </div>
        <div class="close-button" (click)="closeApp()">&times;</div>
    </div>
</div>