@use 'src/styles.scss';

:host {
    position: relative;
    z-index: 2000;
}

.menu-button {
    user-select: none;

    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    white-space: nowrap;
    outline: 0;

    &:hover {
        background-color: styles.$highlightMenu;
    }
}