<div class="wrapper">
    <div class="row">
        <div class="current">
            <div class="key-header">Current Hotkey</div>
            <div class="key-box">{{ this.keycodeService.rawcodesToString(this.oldHotkey) }}</div>
        </div>
        <div class="new">
            <div class="key-header">New Hotkey</div>
            <div class="key-box">{{ this.keycodeService.keycodesToString(this.newHotkey) }}</div>
        </div>
    </div>
    <div class="row">
        <a class="button" (click)="setHotkey()">Set Hotkey</a>
        <a class="button" (click)="clearHotkey()">Clear Hotkey</a>
        <a class="button" (click)="goHome()">Cancel</a>
    </div>
</div>